/* Style for header section
 *
 * Auhtor: Songeziwe S. Soboois
 * Date: September 06, 2019
 */

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
header {
    /* Background image for the header */
    background-image: url("../../images/log2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    
    /* Styling the actual header tag and its content excluding the background image */
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 800px;
    width: 100%;
    text-align: center;
}
header nav .logo {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%; 
}
header nav {
    width: 900px;
    margin: 0 auto;
    height: 100px;
    padding: 0px;
}
nav ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: top;*/
}

header nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}
header nav ul li a {
    
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 95px;
    padding: 5px 15px;
    margin-left: 20px;
}
header nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;;
} 

img {
    margin-top: 10px;
    padding-top: 10px;
}