/* Styles for Main Content
 *
 * Author : 
 * Date : 06 September 2019
 */


footer{
    display: inline-block;
    background-color: azure;
    text-align: center;
        
}
.contacts{
    padding-right: 100px;
    padding-left: 100px;
    
    
}
.map{
    text-align: center;
}
.form{
    margin-right: 0px;
    padding-right: 200px;
    padding-left: 100px;
    text-align:right;
    right: 0px;
}
input{
    margin: 8px 0;
    border: 2px solid blue;
    border-radius: 4px;
    
}
input[type=textarea]{
    height: 100px;
    
}
input[type=submit]{
    border-radius: 4px;
    cursor: pointer;
    float: right;
    
}
.col{
    float: left;
    width: 75%;
    margin-top: 6px;
}