/* Styles for Footer
 *
 * Author : Bongani Motholo
 * Date : 06 September 2019
 */


.footer{
    display: grid;
    background-color: azure;     
}
.contacts{
    text-align: left;
}
.map{
    padding-right: 200px;
    text-align: center;
}
.form{
    padding-right: 200px;
    display: inline-block;
    text-align:right;
}
input{
    margin: 8px 0;
    border: 2px solid blue;
    border-radius: 4px;
    
}
input[type=textarea]{
    height: 100px;
    
}
input[type=submit]{
    border-radius: 4px;
    cursor: pointer;
    float: right;
    
}
.col{
    float: left;
    width: 75%;
    margin-top: 6px;
}