/* Styles for Footer
 *
 * Author : Bongani Motholo
 * Date : 06 September 2019
 */

footer{
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding: 20px;
}
.contacts{
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    height: 100px;
    
   
    
}
#contact {
    font-weight: bold;
}
.map{
    display: inline-block;
    text-align: center;
    height: 100px;
}
.form{
    display: inline-block;
    margin-right: 0px;
    padding-right: 200px;
    padding-left: 100px;
    text-align:right;
    right: 0px;
}
input{
    height: 25px;
    margin: 8px 0;
    border: 2px inset ;
    border-radius: 6px;
    
}
input[type=textarea]{
    height: 100px;
    
}
input[type=submit]{
    border: outset;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    height: 30px;
    background-color: #4CAF50;
    
}
